html {
  margin-left: 150px;
  margin-right: 150px;
  background-color: #3c4e3e;
  border: 1px solid #3c4d80;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: tomato;
  width: 70%;
  margin: 5% auto;
}
main {
  color: black;
  width: 70%;
  margin: 5% auto;
}

body {
  background: cadetblue;
  color: #3c4d80;
  margin: -55px;
}
article {
  margin: 2% auto;
  border: 2px solid white;
  background-color: lightsalmon;
}
article > h3 {
  font-size: 1em;
}

article:hover {
  background: grey;
}
